<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}base{% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <a href="{{ url_for('pokedex', name='base') }}">PokeDex</a>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('rankings') }}">Ranking</a>

        </nav>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for msg in messages %}
        <strong>{{msg}}</strong><br>
        {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content%} Hello! {% endblock %}

</body>