{% extends "base.html" %}
{% block title %} Pokedex - {{name | caesar_shift(1)}} {% endblock %}

{% block content %} 
    <h1> Entry for {{name}} here!</h1>
    <div>
        <img src="{{url_for('static', filename = name | image_path() )}}" alt="Image of {{name}}">
    </div>

    <div>
        <h2>Stats:</h2>
        <ul>
            {% for stat in stats %}
            <li> <b>{{stat}}</b>: 
                <b 
                {% if stats[stat] > 80 %} 
                style="color:red" 
                {% elif stats[stat] > 40 %}
                style="color:rgb(186, 141, 59)"
                {% else %}
                style="color:darkgreen"
                {% endif %}
                >{{stats[stat]}} 
                </b>
            </li> 
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Ability:</h2>
        <p>{{name | poke_ability(0)|capitalize()}}: {{name | poke_ability(1)}}</p>
    </div>
{% endblock %}

